{% extends 'base.html.twig' %}

{% block title %} Admin Home {% endblock %}

{% block body %}
    <div class="bg-white">
        <div class="table-responsive-lg">
            <table class="table table-borderless">
                <tr>
                    <td>
                        <div class="text-center">
                        Total Orders
                            <img src="#" class="rounded" >
                        </div>  
                    </td>

                    <td>
                        <div class="text-center">
                        Total Real Estate
                            <img src="#" class="rounded" >
                        </div>  
                    </td>

                    <td>
                        <div class="text-center">
                        Users
                        <img src="#" class="rounded" >
                        </div>    
                    </td>

                </tr>
            </table>
        </div>
    </div>
{% endblock %}


